.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    position: absolute;
    z-index: 100;
    background-color: #3a454e;
    color: rgb(179, 179, 179);
    margin-left: 200px;
    padding: 90px;
    flex-direction: row;
    gap: 90px;
    min-width: 67.6rem;
}

.list-menu-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}