.container-nav {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background-color: white;
    border-bottom: 1px solid darkgray;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}

.logo-fill {
    background-color: #1a73e8;
    color: white;
    font-size: 30px;
    padding: 5px;
}

.logo-stroke {
    background-color: transparent;
    border: #1a73e8 solid 3px;
    font-size: 30px;
    padding: 2px 5px;
    color: #1a73e8;
}

.link-directions-nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.link-directions-nav > .link-nav {
    font-size: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.link-directions-nav > .link-nav:hover {
    color: darkgray;
}

.cta-btn-nav {
    display: flex;
    gap: 15px;
    font-size: 20px;
}