.container-contents {
    display: flex;
    max-height: 300vh;
    margin: auto 0 auto 220px;
    justify-content: space-between;
    gap: 3rem;
}

.artikel-contents {
    margin: 10rem 0;
    max-width: 37rem;

}

.code-contents {
    margin: 5rem auto 0 auto;
    max-width: 37rem;
    max-height: auto;
    overflow-x: auto;
}

.container-card-ariticles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-width: 48%;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 2px 5px 1px #b8b7b7;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.card:hover {
    opacity: 50%;
}